<ion-header>             
    <ion-toolbar>      
        <ion-buttons slot="start">         
            <ion-button color="danger" (click)="clickedStar()">
              <ion-icon slot="icon-only"  name="menu"></ion-icon>
            </ion-button>
          </ion-buttons>      
        <ion-buttons slot="secondary">         
            <ion-button color="danger">
              <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
          </ion-buttons>      
         
      <ion-title style="text-align: center;" color="danger">     
        <!-- <ion-img src="/assets/shapes.svg" style="width:50px; float: left;"></ion-img>  -->
         KerzzPos Mobile
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card">
       
      </ion-card>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="bubbles"
            refreshingText="Güncelleniyor...">
          </ion-refresher-content>
        </ion-refresher>
  </ion-content>
  